<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Teste V-IF</title>
</head>
<body>

    <div id="app">
        <div>
            <span v-if="testeSpan"> Funcionou nosso exemplo! </span>
            <button @click="handleTest">Teste</button>

        </div> <!--Fim da Div-->

        <div>

            <button @click="toggleLampada">{{isLampadaLigada ? 'Desligar' : 'Ligar' }}</button>
                <br>
                <img v-if="isLampadaLigada" src="./Imagens/On.png" alt="Lampada Ligada">
                <img v-else="isLampadaLigada" src="./Imagens/Off.png" alt="Lampada Desligada">

        </div>

    </div> <!--Fim da div Principal (app)-->
    <script src="process.js"></script>
</body>
</html>