button{
    position: inherit;
    background: rgb(0, 0, 0);
    color: rgb(166, 255, 0);
    width: 300px;
    height: 50px;
    font-size: 40px;
    border-radius: 40px;
    margin: 20px;
}

button:hover{
    background: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
}