.calculadora{
    position: fixed;
    top: 50%;
    left: 50%;
    background: rgb(170, 48, 218);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: linear-gradient(rgb(51, 55, 58), rgb(38, 39, 41));
    border: 3px double rgb(150, 144, 144);
    border-radius: 13px;
    padding: 20px;
    

}  /* Fechamento calculadora */

.tela{

    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.9rem;
    width: 93%;
    height: 120px;
    margin-bottom: 20px;
    border: 5px double rgb(255, 255, 255);
    padding: 16px;
    border-radius: 6px;
    background: linear-gradient(rgb(14, 87, 14), rgb(28, 158, 28));
    color: #ffffff;
   
}/* Fechamento da tela */

.botao{

    display: flex;
    flex-direction: column;
    align-items: center;
}/* Fechamento botão */

.linhas{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;    
} /* Fechamento das linhas */

button {
    
    margin: 10px;
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 25px;

    

}
button:hover{
    color: #ffffff;
    background: linear-gradient(rgb(245, 39, 12), rgb(241, 228, 222));
    border: 1px solid white;
    cursor: pointer;
    
    
}

h1{
    font-size:larger;
    color: #fff;
    text-align: center;
}


h1:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.operadores{
    background: linear-gradient(rgb(215, 98, 245), rgb(253, 190, 245));
    color: #fff;
    border: 4px double rgb(231, 231, 231);

} /* fechamento dos operadores */

.outros {
    background: linear-gradient(rgb(121, 230, 245), rgb(116, 116, 235));
    color: #ffffff;
    border: 4px double rgb(231, 231, 231) 
    
}

button:active {
    background: linear-gradient(yellow, pink);
    border: 1px solid white;
    color: #fff;
}