<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Calculadora</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scala=1.0">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel="stylesheet" type="text/css" href="estilo.css">
    </head>
    <body>

        <div id="app">
            <div class="calculadora">
                <div class="tela">
                    {{display}} 
                    
                </div>
                <div class="botao">
                    <div class="linha">
                        <h1>CASSIO</h1>
                        <button @click="handleButtonClick('7')">7</button>
                        <button @click="handleButtonClick('8')">8</button>
                        <button @click="handleButtonClick('9')">9</button>
                        <button class="operadores" @click="handleButtonClick('-')">-</button>


                    </div> <!--Fechamento da div linha-->
                    <div class="linha">
                        <button @click="handleButtonClick('4')">4</button>
                        <button @click="handleButtonClick('5')">5</button>
                        <button @click="handleButtonClick('6')">6</button>
                        <button class="operadores" @click="handleButtonClick('/')">/</button>
                    
                    </div>
                    <div class="linha">
                        <button @click="handleButtonClick('1')">1</button>
                        <button @click="handleButtonClick('2')">2</button>
                        <button @click="handleButtonClick('3')">3</button>
                        <button class="operadores" @click="handleButtonClick('*')">*</button>
                    </div>
                    <div class="linha">
                        <button @click="handleButtonClick('0')">0</button>
                        <button class="outros" @click="handleButtonClick('.')">.</button>
                        <button class="outros" @click="handleButtonClick('=')">=</button>
                        <button class="operadores" @click="handleButtonClick('+')">+</button>
                    </div>
                    <div class="linha">
                        <button class="outros" @click="handleClear()">C</button>
                    </div>

                </div> <!--Fechamento da div Botão-->

            </div> <!--Fechamento da div class calculadora-->

        </div> <!--Fechamento da div id "app"-->
        <script src="meucodigo.js"></script>
    </body>
</html>