header{
    width: 100%;
    height: 120px;
    background: rgb(80, 132, 153);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
span{
    font-size: 40px;
    line-height: 100px;
}

#app{
    height: 700px;
}


footer {
    background: rgb(80, 132, 153);
    text-align: center;
    height: 60px;
    color: white;
    padding-top: 15px;
}


