

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    background: rgba(0, 0, 0, 0.678);
    display: flex;
    align-self: center;
    justify-content: space-around;
    flex-direction: column;
    place-items: center;
    margin: 10px;

}

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:aliceblue;
    background: rgba(0, 0, 0, 0.603);
    margin-top: 200px;
    width: 400px;
    height: 70px;
    margin: 10px;
    border-radius: 40px;
    border: 3px solid white;
}

img{
    width: 500px;
    height: 500px;
    border-radius: 10px;   
    padding: 50px;
}

button:hover {
    background: red;
}


