/*Definição @media (max-width: 768px)

@media (max-width: 768px) é uma regra de mídia em CSS que especifica um conjunto de estilos para serem aplicados em dispositivos com uma largura máxima de 768 pixels.

Essa regra de mídia é usada para tornar o site responsivo, adaptando o layout e o estilo para diferentes tamanhos de tela. Quando a largura da tela é menor que 768 pixels, a regra @media é acionada, permitindo que os estilos definidos dentro dela sejam aplicados aos elementos selecionados.

Isso é útil para tornar o site mais legível e fácil de usar em dispositivos móveis, como smartphones e tablets, onde a tela é geralmente menor. Ao ajustar o layout e o estilo para se adequar a telas menores, o conteúdo do site pode ser exibido de forma mais clara e organizada, proporcionando uma melhor experiência do usuário.*/

/* Este arquivo CSS define estilos para o elemento body, h1, p e a classe .container. */

body {
    /* O comando margin: 0; define que a margem externa do body deve ser 0, ou seja, nenhum espaço deve ser adicionado ao redor do elemento. */
    margin: 0;
  
    /* O comando padding: 0; define que o preenchimento interno do body deve ser 0, ou seja, nenhum espaço deve ser adicionado dentro do elemento. */
    padding: 0;
  
    /* O comando font-family: Arial, sans-serif; define que a fonte a ser utilizada no body é "Arial" ou outra fonte sans-serif genérica. */
    font-family: Arial, sans-serif;
  
    /* O comando background-color: #f2f2f2; define a cor de fundo do body como cinza claro. */
    background-color: #ffffff;
  }
  
  #agaum{
    text-align: center;
    /* O comando font-size: 36px; define o tamanho da fonte do h1 como 36 pixels. */
    font-size: 36px;
  
    /* O comando color: rgb(rgb(88, 86, 86)); define a cor do texto do h1 como uma tonalidade de cinza. */
    color: white;
  
    /* O comando margin-top: 0; define que não deve haver margem superior no h1. */
    margin-top: 0;
  }

  a {
    color: white;
    font-size: 25px;
    margin-left: 415px;
    text-decoration: none;
    padding-top: 4px;
  }

  a:hover{
    background: rgba(123, 164, 252, 0.575);
    color: rgb(236, 233, 233);
    border-radius: 4px;
    
  }
  
  p {
    text-align: center;
    /* O comando font-size: 18px; define o tamanho da fonte do p como 18 pixels. */
    font-size: 18px;
  
    /* O comando line-height: 1.5; define o espaçamento entre as linhas do texto do p como 1,5 vezes a altura da fonte. */
    line-height: 1.5;
  
    /* O comando color: rgb(78, 71, 144); define a cor do texto do p como uma tonalidade de azul. */
    color: rgb(255, 255, 255);
    margin-bottom: 39px;
  }
  
  .container {
    /* O comando width: 80%; define que a largura da .container deve ser 80% da largura do elemento pai. */
    width: 98%;
  
    /* O comando margin: 0 auto; define que a margem esquerda e direita da .container deve ser automática, o que faz com que o elemento seja centralizado horizontalmente. */
    margin: 0 auto;
  
    /* O comando background-color: rgb(222, 221, 232); define a cor de fundo da .container como uma tonalidade de cinza claro. */
    background-color: rgba(68, 127, 255, 0.575);
  
    /* O comando padding: 20px; define o preenchimento interno da .container como 20 pixels. */
    padding: 15px;
    border-radius: 5px;
  }
  
  main{
    width: 720px;
    margin-top: 10px;
    margin-left: 40px;
    height: 720px;
    background-color: #fcfafa;
    border-radius: 10px;
    border: 1px double black;
    
  }

 section {

    width: 1100px;
    position: relative;
    top: -90%;
    left: 105%;
    height: 800px;
    background-color: #fcfafa;
    border-radius: 10px;
    border: 1px double black;
   
  }

  #centro{
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
  }

  #conteudo{
    margin: 10px;
    color: black;
  }

  #pagani{
    width: 80%;
    height: 50%;
    margin-left: 75px;
    margin-bottom: 5px;
    border: 1px solid black;
  }

  #pagan{
    width: 80%;
    height: 65%;
    display: block;
    margin-left: 100px;
    margin-bottom: 20px;
    border: 1px solid black;

  }

  #pagani:hover {
    width: 85%;
    height: 55%;
    transition: width 1s, height 1s;
  }

  #pagan:hover{
    width: 85%;
    height: 70%;
    transition: width 1s, height 1s;
  }

  






  /* Estilos para dispositivos móveis */
  @media (max-width: 768px) {
  
      /* Dentro da media query @media (max-width: 768px), os estilos são modificados para dispositivos móveis. A largura da .container é reduzida para 90%, o preenchimento interno é reduzido para 10 pixels e o tamanho da fonte do h1 e p é reduzido para 24 e 16 pixels, respectivamente. */
  
    .container {
      width: 98%;
      padding: 10px;
    }
  
    h1 {
      font-size: 24px;
    }
  
    p {
      font-size: 16px;
    }

    a {
      font-size: 18px;
      display: block;
      margin-left: 10px;
      margin-bottom: 5px;
    
    }

    section{
        width: 80%;

    }

    main{
        width: 93%;
        display: block;
        margin-left: 20px;
    }

    #pagani{
        width: 80%;
        height: 34%;
        margin-left: 44px;
        margin-bottom: 5px;
        border: 1px solid black;
      }

      #pagani:hover {
        width: 81%;
        height: 36%;
        transition: width 1s, height 1s;
      }

      section {

        position: relative;
        top: 17%;
        left: 0%;
        width: 450px;
        height: 650px;
        background-color: #f2f2f2;
        border-radius: 10px;
        border: 1px double black;
       
      }

      #pagan{
        width: 80%;
        height: 30%;
        display: block;
        margin-left: 40px;
        margin-bottom: 20px;
        border: 1px solid black;
    
      }

      #pagan:hover{
        width: 81%;
        height: 32%;
        transition: width 1s, height 1s;
      }



  }

  