* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } 

  html {
    font-size: 62.5%;
  }

  *:not(i) {
    font-family: "Poppins", sans-serif;
  }

  header {
    position: fixed;
    width: 100%;
    background-color: #000000;
    padding: 2.5rem 5rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }

  nav a {
    font-size: 1.8rem;
    text-decoration: none;
    margin-left: 5px;
  }

  nav a#logo {
    color: #ffffff;
    font-size: 27px;
  }

  nav ul a {
    color: #ffffff;
    font-weight: 600;
    margin-right: 100px;
    font-size: 20.5px;

  }

  #contato{
    margin-right: 700px;
  }

  nav ul a:hover {
    transition: border-bottom 0.4s;
    border-bottom: 5px solid #00ffff;

  }

  section#home {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  h1 {
    font-size: 4rem;
  }

  #ham-menu {
    display: none;
  }

  nav ul.active {
    left: 0;
  }

  @media only screen and (max-width: 991px) {
    html {
      font-size: 56.25%;
    }

    header {
      padding: 2.2rem 5rem;
    }

  }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%;
    }

    #ham-menu {
      display: block;
      color: #ffffff;
    }

    nav a#logo,
    #ham-menu {
      font-size: 3.2rem;
      border-bottom: #ffffff;
    }


    nav ul {
      background-color: rgba(0, 0, 0, 0.445);
      position: fixed;
      left: -100vw;
      top: 73.6px;
      width: 100vw;
      height: calc(100vh - 73.6px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transition: 0.6s;
      gap: 0;
    }

    a:hover{
      transition: font-size 0.3s;
      font-size: 28px;
    }


  }

  @media only screen and (max-width: 575px) {
    html {
      font-size: 46.87%;
    }
    header {
      padding: 2rem 3rem;
    }
    nav ul {
      top: 67px;
      height: calc(100vh - 65.18px);
    }
  }